html {
  height: 100%;
   background-color: #333;
     font-family: helvetica, arial, sans-serif;
       font-size: 10px;
         line-height: 1.5;
           box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
     margin: 0;
       padding: 0;
}

body {
  height: 100%;
}

main {
  display: flex;
   max-width: 1030px;
     margin: 0 auto;
       color: #eee;
         flex-direction: column;
           height: 100%;
             padding: 20px;
 }

 hr {
   max-width: 850px;
     margin: auto;
       border-bottom: 1px solid #eee;
 }

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.fault {
  display: flex;
   justify-content: center;
     width: 100%;
       margin-top: 150px;
}

.fault2 {
  font-weight: 300;
   font-size: 2em;
}

.heading {
  font-size: 2.2em;
}

.result {
  margin-bottom: 40px;
}

.classes {
  display: flex;
     color: #eee;
       align-content: center;
         flex-direction: column;
}

.classes__heading {
  display: flex;
   justify-content: center;
     flex-direction: column;
       height: 70px;
         font-size: 1.7em;
}

.classes__videos {
  display: flex;
    flex-direction: row;
      justify-content: flex-start;
       flex-wrap: wrap;
}

@media (max-width: 695px) {
  .classes__videos {
    justify-content: center;
  }
      }

.back {
  font-size: 2em;
  color: #eee;
  align-self: center;
}

.videoimg2 {
  height: 100%;
}

.videoimg {
  width: 100%;
   position: relative;
     overflow: hidden;
        height: 181px;
}

.videoText {
  display: flex;
       overflow: hidden;
         flex-direction: column;
            width: 100%;
              height: 70px;
}

.videoTexth3 {
  display: flex;
    margin: 5px 0;
     justify-content: flex-start;
       flex-direction: column;
         height: 20px;
           overflow: inherit;
             font-size: 1.5em;
}

.videoTexth4 {
  font-size: 1.2em;
   font-weight: 400;
     flex-grow: 1;
}

.video {
  display: flex;
   flex-direction: column;
     align-self: center;
       max-width: 310px;
         margin-right: 10px;
 }

.videoimgtime {
  bottom: 5px;
    z-index: 99;
      right: 5px;
       padding: 3px 5px;
         position: absolute;

            color: #eee;
             background-color: rgba(0, 0, 0, 0.3);
}

.player {
  flex: 1 0 auto;
   display: flex;
     flex-direction: column;
 }

.player__heading {
  margin: 10px 0;
     text-align: center;
       font-size: 1.7em;
}

.buttonVideoPlay {
 position: absolute;
   width: 45px;
     padding: 5px;
       transform: translate(-50%, -50%);
         top: 50%;
            left: 50%;
}

.buttonVideoPlay__hidden {
  display: none;
}

.player__buttons {
  justify-content: center;
   display: flex;
     flex-direction: row;
        flex-wrap: nowrap;
         height: 40px;
           margin-bottom: 20px;
 }

.buttonVideo {
  width: 25px;
    margin: 0 10px;
}

.buttonVideo__hidden {
  display: none;
}

.player__video {
 padding: 0;
   margin: 0;
     position: relative;
}

.myVideo {
  width: 100%;
    height: 100%;
}
